# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\学习资料\VIA\Study skills for engineers (SSE)&(SEP)\6th semester\SEP6_MovieWebsite_GoogleCloudFunction\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
